*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

img{
    max-width: 100%;
    min-height: 100px;
    
}
.cont-webapp{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}
.barra-info{
    position: absolute;
    top:0;
    right: 0;
    color: white;
    padding: 5px;
    font-size: 0.7rem;
    background: rgba(96, 89, 89, 0.5);

}
.cont-main{
    width: 100%;
    height:calc(100vh - 100px);
    background-color: black;
    padding: 40px;
    position: relative;

    overflow: auto;
}

.cont-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    align-content: stretch;
   
   
}
.cont-img>div{
    width: calc(100%/7);
    background-size: cover;
    padding: 10px 4px;
    position: relative;
    display: inline-block;
    
}

.pinco-pallo{
    color: white;
    position: absolute;
    bottom: 15px;
    left: 4px;
    background: rgba(0, 0 , 0, 0.3);
    font-size: 0.7rem;
    padding: 5px;
}
.cont-footer{
    width: 100%;
    height:100px;
    background-color:black;
    display: flex;
    color: white;   
    
} 
.cont-liste{
    width: 100%;
    display: flex;
}

.lista-sx{
    width: 25%;
    height: 100px;
    display: flex;
    padding-top: 10px;
}

.fine{
    width: 25%;
    /* height: 100px; */
    background-color: gray;
    color: red;
    text-align: center;
    padding-top: 40px;
}

/* liste */
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}

.fa-microphone{
    margin-left: 10px;
}
.fa-angle-down{
    padding-top: 20px;
    padding-right: 10px;
}
.fa-video{
    padding-left: 15px;
}
.lista-centro{
    width: 50%;
    height: 100px;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}


.lista-centro>div{
  margin: 5px;
  padding: 0 10px;
}
